In [14]:
import pandas
from google.cloud import bigquery
from google.oauth2 import service_account
#from params.py import PROJECT_ID, TABLE_ID
import sys; sys.path.append('..')
from params import PROJECT_ID, TABLE_ID


credentials = service_account.Credentials.from_service_account_file("../bq_keys.json")
client = bigquery.Client(project=PROJECT_ID, credentials=credentials)
table = client.get_table(TABLE_ID)


# Construct the SQL query to retrieve the table data
query = f'SELECT * FROM `{table}`'

# Submit the query and fetch the results
df = client.query(query).to_dataframe()
df

,x_0,y_0,z_0,x_1,y_1,z_1,x_2,y_2,z_2,x_3,...,x_18,y_18,z_18,x_19,y_19,z_19,x_20,y_20,z_20,target
0,0.0,0.0,0.0,0.054330,-0.015412,-0.028117,0.081315,-0.131285,-0.033929,0.036638,...,-0.017300,-0.344424,-0.038069,-0.009776,-0.400901,-0.045744,-0.004174,-0.453026,-0.051022,0
1,0.0,0.0,0.0,0.049250,-0.014578,-0.025571,0.075926,-0.110281,-0.030808,0.042392,...,0.002378,-0.306227,-0.029282,0.010634,-0.356886,-0.036055,0.017572,-0.403097,-0.040766,0
2,0.0,0.0,0.0,0.030780,-0.025444,-0.021446,0.046056,-0.093798,-0.027427,0.019106,...,-0.004773,-0.226275,-0.016555,-0.000485,-0.262170,-0.019592,0.003894,-0.297216,-0.021847,0
3,0.0,0.0,0.0,0.031286,-0.025717,-0.021042,0.045401,-0.096911,-0.026001,0.019691,...,-0.003271,-0.225823,-0.013670,0.001118,-0.260400,-0.016566,0.005532,-0.294428,-0.019043,0
4,0.0,0.0,0.0,0.049547,-0.013123,-0.023109,0.078819,-0.113413,-0.028227,0.044947,...,0.002017,-0.315950,-0.036238,0.011238,-0.367470,-0.042725,0.019025,-0.414709,-0.047191,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.0,0.0,0.0,0.047174,-0.021196,-0.009893,0.082800,-0.093878,-0.011152,0.106761,...,-0.038882,-0.230044,-0.019303,-0.045119,-0.267157,-0.022869,-0.049865,-0.304469,-0.024707,2
296,0.0,0.0,0.0,0.047689,-0.023782,-0.018520,0.089468,-0.107510,-0.023616,0.117519,...,-0.042325,-0.264699,-0.024423,-0.051044,-0.310160,-0.029132,-0.057826,-0.350774,-0.030526,2
297,0.0,0.0,0.0,0.043566,-0.026580,-0.018629,0.079299,-0.099803,-0.024785,0.106108,...,-0.045433,-0.226707,-0.019634,-0.056545,-0.260284,-0.022475,-0.064594,-0.289540,-0.022304,2
298,0.0,0.0,0.0,0.045483,-0.027640,-0.021998,0.083460,-0.109383,-0.028409,0.109671,...,-0.049251,-0.242274,-0.020130,-0.057545,-0.278663,-0.023715,-0.063057,-0.312214,-0.023346,2
299,0.0,0.0,0.0,0.040892,-0.023561,-0.015438,0.073569,-0.087956,-0.019753,0.097551,...,-0.039518,-0.194834,-0.016112,-0.050137,-0.225470,-0.018311,-0.057495,-0.252927,-0.018030,2

In [11]:
!pwd

/Users/tloizel/code/tloizel/wagon-give-me-a-sign/notebooks

In [1]:
# Remove duplicates
df = df.drop_duplicates()

NameError: name 'df' is not defined